.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  width: 100%;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  
}

.App-main{
  background-color: #25282c;
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(3px + 2vmin);
}

.card{
  background-color: #282c34;
  padding: 1rem;
  border-radius: 1rem;
}

.card .card-main{
  font-size: 16pt;
  margin-top: .5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card .card-footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-footer{
  min-height: 10vh;
  background-color: #282c34;
  width: 100%;
}

.App-footer a{
  font-size: 9pt;
  color: aqua;
}

/* INPUTS */
input, .input{
  font-size: 14pt;
  margin: .5rem;
  padding: .2rem;
  border-radius: .5rem;
  box-shadow: none;
  outline: none;
  border: none;
  background-color: #f1f8f7;
}

button{
  border-radius: 50rem;
  width: max-content;
  height: max-content;
  padding: .5rem;
  box-shadow: none;
  outline: none;
  border: none;
}

.period{
  background-color: #282c34;
  border-radius: 1rem;
  padding: 1rem;
  margin: .5rem;
  aspect-ratio: 1/2;
  height: 15rem;
}

.period p{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.period p:first-child{
  text-align: center;
}

.changed{
  background-color: rgb(163, 97, 53);
  padding: .2rem;
  border-radius: .5rem;
}

.timetable{
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.timetable div{
  
}